/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f2f2f2
}

.success-snackbar {
  &.mat-mdc-snack-bar-container {
    --mdc-snackbar-container-color: #6cd570;
  }
}

.error-snackbar {
  &.mat-mdc-snack-bar-container {
    --mdc-snackbar-container-color: #b1274a;
  }
}
